input, select {
    padding: 5px;
    border: 1px solid #0006;
    font-size: 1.1rem;
    background-color: #fff;
    outline: 0;
}

button {
    padding: 3px 20px;
    border: 0;
    border: 1px solid #0006;
    font-size: 1rem;
    background-color: #eee;
    outline: 0;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.form {
    margin-top: 10px;
}

.form .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}