@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Calibri, Roboto, sans-serif;
}

html, body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    min-height: 64px;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px #0008;
    z-index: 10;
}

.header .logo a {
    margin: 0 20px;
}

.header div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header .auth {
    padding-right: 50px;
}

.header .login {
    padding: 10px 20px;
    margin-right: 10px;
}

.header .login:hover {
    background-color: #444;
}

.header .registrar {
    background-color: #333;
    padding: 10px 20px;
}


.header .registrar:hover {
    background-color: #444;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.menu {
    height: 100%;
    width: 205px;
    background-color: #333;
    box-shadow: 0 0 20px #0008;
    z-index: 5;
}

.menu nav {
    flex: 1;
    width: 205px;
}

.menu li {
    list-style: none;
    display: flex;
}

.menu a {
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    flex: 1;
}

.menu a:hover {
    background-color: #444;
}

.active-menu {
    background-color: #444;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    padding: 20px;
}

.footer {
    width: 100%;
    min-height: 64px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px #0008;
    z-index: 10;
}

.footer span {
    color: #fff;
}

.footer span a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}