.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px #0008;
}

.text p {
    text-indent: 30px;
}

.widgets {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 20px;
}

.widget {
    height: 200px;
    background-color: #333;
    box-shadow: 0 0 10px #0008;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.widget span {
    font-size: 2.5rem;
}

.widget strong {
    font-size: 2.5rem;
}