.form div {
    margin-bottom: 20px;
}

.form .inputs {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 20px;
}

.form .selects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.table .codigo {
    width: 10%;
}

.table .tipo {
    width: 30%;
}

.table .quantidade {
    width: 10%;
}

.table .preco {
    width: 10%;
}