.table {
    margin-top: 20px;
    background-color: #eee;
    width: 100%;
}

.table, thead, tbody, tr, th, td {
    border: 1px solid #0008;
    border-collapse: collapse;
}

.table th, td {
    text-align: start;
    padding: 8px 0 8px 10px;
}